p
    | Our online store offers a wide range of quality equipment from the most famous brands and at surprisingly low prices. Each of our customers can be calm on the fact that a particular type of technology has been in use, as each separate unit of our product is tested thoroughly both before exhibiting it on sale and before the shipment.
p
    | On our site you can get acquainted with the appearance of the goods, thanks to the detailed images each of its parts, as well as to study its main technical characteristics. With regard to any shortcomings of any name that was in use, we are telling detail in his description that will prevent any confusion in the future. So if you want to buy a phone b / y from us, you can not worry about it inoperable or any unspecified deficiencies. If any of you are having any questions about the product itself or the conditions of its purchase, our employees will be able to respond accurately and quickly to any of them.
p
    | The main privilege of our online store is that it is here you will be able to purchase quality equipment at prices that are much lower than in any other stores. In addition, we give a guarantee on all our products, thereby giving you the confidence that you should not have any problems with this or that you purchased units.
p
    | You can not worry about the expense of the delivery of goods: our online store provide your purchase almost anywhere in Ukraine. Another positive feature of our service is that you must have to pay for the order when you receive it directly on your hands. That is, it allows the buyer to verify the correct operation of its order and ensure full equipment package.
p
    | In addition to all presented pieces of equipment, you can also find a rich assortment of various accessories. Differ as to their high quality and attractive prices.
p
    | The quality of our products and the provision of all these services we prove overwhelmingly positive feedback from our customers, some of which can even be called a truly permanent. If you decide to buy a mobile phone b / y in our online store, you can also leave your comments, requests and suggestions.

img(src='http://toreador.com.ua/images/stories/girl.jpg', style='width:100%')