p
    | We strive to constantly improve, so it is very important to know your opinion about us.
    | We would be grateful if you leave a tip, suggestion or comment about our work.

form(role='form')
    .form-group
        label(for='name') Name:
        input#name.form-control(type='text')
    .form-group
        label(for='msg') Message:
        textarea#msg.form-control
    .checkbox
        label
    button.btn.btn-default(type='submit') Leave a review