p
    | Delivery in Ukraine is carried out for new mail.
p
    | You can pick up an order with the new mail store in your city (Warehouse address) or order a delivery address.
p
    | Shipping cost to your location you can count on New Mail website under "calculator".
p
    | You can pay by transfer order to the card Privat in full prepayment or cash on delivery (payment on delivery in the warehouse for new mail), but subject to pre-payment - 150 UAH, which are included in cost of goods.
p
    | Orders placed before 16:00 will be shipped the same day.
p
    | Checkout after 16:00 will be shipped the next day.
p
    | You will receive an SMS-message to a mobile number, and email to a number of declarations on the same day until 20:00.
p
    | If the goods sent to you New Mail does not suit you for any reason, you can contact the Sales Manager and discuss all the details.
p
    | Delivery and Pickup in Chernivtsi discussed with the manager on the phone numbers Sales: 095 444 March 24, 096 644 14 44

img(src='http://toreador.com.ua/images/stories/delivery-map.jpg', style='width:100%')