h1
    | You can return the goods if:
ul
    li
        | You did not use the goods, the goods has the same form in which you purchased it.
    li
        | You must pridyavity warranty card
    li
        | All of the accessories attached to the product should be.

h1
    | What is the warranty on this product?
ul
    li
        | The warranty period is specified in the description of each product on the site. The warranty for a period of 1 month to 12 months, depending on the product. Proof of warranty is a warranty card.

h1
    | In some cases it is not warranted?
| We may deny warranty repairs in the event of:
ul
    li
        | breach of warranty seals of safety;
    li
        | any mechanical or other damages resulting from deliberate or careless actions of the buyer or third parties;
    li
        | violation of rules of use;
    li
        | tampering, repair or modification of internal communications and product components, changing designs or schemes of the goods;
    li
        | if the serial number or MAC address in memory products, modified or erased can not be installed.

h1
    | The warranty does not apply to the following error:
ul
    li
        | accidental damage (defects caused by the customer);
    li
        | damage caused by natural disasters (natural phenomena);
    li
        | Damage due to neglect or the use of (non-observance of temperature, exposure to liquids, dust, mechanical damage, ingestion of foreign objects body);
    li
        | damage caused by accidental raising or lowering the voltage in the network;
    li
        | damage caused by improper connection to the mains;
    li
        | damage caused by defects in the system, which was used in this product or resulting from product connection and the connection to other products;
    li
        | Damage caused by using the goods for other purposes or in violation of rules of operation.
