.panel.panel-default
    .panel-heading Change your current password
    .panel-body
        .alert.alert-success(ng-if="passwordChangeStatus == 'success'")
            strong Success!
            |  Password changed successfully!
        .alert.alert-danger(ng-if="passwordChangeStatus == 'notEquals'")
            strong Warning!
            |  Both passwords must be the same.
        .alert.alert-info(ng-if="passwordChangeStatus == 'empty'")
            strong Warning!
            |  Both passwords must be not empty.
        form.form-horizontal
            .form-group
                label.control-label.col-sm-2(for='password') New password:
                .col-sm-10
                    input#password.form-control(ng-model='u.password', type='password', placeholder='Enter new password')
            .form-group
                label.control-label.col-sm-2(for='confirmPassword') Confirm password:
                .col-sm-10
                    input#confirmPassword.form-control(ng-model='u.confirmPassword', type='password', placeholder='Confirm new password')
            .form-group
                .col-sm-offset-2.col-sm-10
                    button.btn.btn-default(ng-click='user.changePassword()') Submit