doctype html

html
    head
        title iShop

        // Bootstrap
        link(rel='stylesheet', href='./vendor/css/bootstrap.css')
        link(rel='stylesheet', href='./vendor/css/bootstrap-theme.css')

        // Fonts
        link(rel='stylesheet', href='./vendor/css/font-awesome.css')

        // jQuery & Bootstrap
        script(src='./vendor/js/jquery.js')
        script(src='./vendor/js/bootstrap.js')
    body
        .container(style='margin: 10%')
            .jumbotron
                h1 Failed