footer
    nav.navbar.navbar-default
        .container-fluid
            ul.nav.navbar-nav
                li
                    a(href='#') ©  2016 - Online Shop.
                li
                    a(href='#/sitemap') SITE MAP
                li
                    a(href='#/about') ABOUT US
                li
                    a(href='#/delivery') PAYMENT AND DELIVERY
                li
                    a(href='#/guarantee') GUARANTEE
                li
                    a(href='#/contacts') CONTACTS
                li
                    a(href='#/comments') COMMENTS