title iShop

// Bootstrap
link(rel='stylesheet', href='/vendor/css/bootstrap.css')
link(rel='stylesheet', href='/vendor/css/bootstrap-theme.css')

// Fonts
link(rel='stylesheet', href='/vendor/css/font-awesome.css')

// jQuery & Bootstrap
script(src="/vendor/js/jquery.js")
script(src="/vendor/js/bootstrap.js")

// AngularJS
script(src="/vendor/js/angular.js")
script(src="/vendor/js/angular-route.js")
script(src="/vendor/js/angular-resource.js")
script(src="/vendor/js/angular-sanitize.js")
script(src="/vendor/js/angular-file-model.js")
script(src="/vendor/js/angular-cart.js")

// Custom CSS
link(rel='stylesheet', href='/css/app.css')

// AngularJS Modules
script(src="/js/modules/app.module.js")

// AngularJS Configs
script(src="/js/configs/main.config.js")
script(src="/js/configs/header.config.js")
script(src="/js/configs/footer.config.js")
script(src="/js/configs/user.config.js")
script(src="/js/configs/product.config.js")
script(src="/js/configs/cart.config.js")
script(src="/js/configs/order.config.js")
script(src="/js/configs/wishlist.config.js")

// AngularJS Controllers
script(src="/js/controllers/main.controller.js")
script(src="/js/controllers/user.controller.js")
script(src="/js/controllers/user.controller.view.js")
script(src="/js/controllers/user.list.controller.js")
script(src="/js/controllers/product.controller.js")
script(src="/js/controllers/product.controller.list.js")
script(src="/js/controllers/product.controller.view.js")
script(src="/js/controllers/cart.controller.js")
script(src="/js/controllers/order.controller.js")
script(src="/js/controllers/order.controller.view.js")
script(src="/js/controllers/history.controller.js")
script(src="/js/controllers/wishlist.controller.js")
script(src="/js/controllers/import.export.controller.js")

// AngularJS Services
script(src="/js/services/product.service.js")
script(src="/js/services/user.service.js")
script(src="/js/services/cart.service.js")
script(src="/js/services/order.service.js")
script(src="/js/services/wishlist.service.js")

// Search config & controller & service
script(src="/js/configs/search.config.js")
script(src="/js/controllers/search.controller.js")
script(src="/js/services/search.service.js")