h3
    | Site Map
p
    | Sitemap allows you to conveniently switch between sections of the site.

ul
    li
        a(href='#/')
            | Home
    li
        a(href='#/about')
            | About us
    li
        a(href='#/delivery')
            | Payment and delivery
    li
        a(href='#/guarantee')
            | Guarantee
