nav.navbar.navbar-default
    .container-fluid
        ul.nav.navbar-nav
            li
                a(href='#/api/search?group=apple') Apple
            li
                a(href='#/api/search?group=htc') HTC
            li
                a(href='#/api/search?group=samsung') Sumsung
            li
                a(href='#/api/search?group=lg') LG
            li
                a(href='#/api/search?group=motorola') Motorola
            li
                a(href='#/api/search?group=other') Other
            li
                a(href='#/api/search?group=accessories') Accessories