.panel.panel-default
    .panel-body
        .row
            .col-sm-2
                a(href='#/')
                    img(src='images/logo.png', alt='Mountain View', style='height:40px')
            .col-sm-2
                h5
                    span.label.label-default Life
                    |  (063) 188-80-72
            .col-sm-4
                form.form-inline(role='form')
                    .form-group
                        input.form-control(ng-model='keyword', type='text')
                    a.btn.btn-default(href='#/api/search?name={{keyword}}' , role='button') Search
            .col-sm-1
                a(href='#/wishlist')
                    i.fa.fa-heart.fa-2x
                    small ({{wishlistCount}})
            .col-sm-1
                a(href='#/cart')
                    i.fa.fa-shopping-cart.fa-2x
            .col-sm-2
                ngcart-summary